doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Document
    body 
        header.header
            .container 
                .header_inner-top 
                    .header_logo
                        img(src="icons/Logo.svg" , alt="Logo") 
                    .header_exchange
                        .dollar_price 76.20
                        .euro_price 90.20 
                    .header_menu-top 
                        nav.menu 
                            ul.menu_list 
                                li Новости
                                li Финансовая граммотность
                                li Скидки
                                li Рейтинг МФО
                                li Рейтинги банков
                    .header_location 
                        a.location(href="#") Россия
                .header_inner-two 
                    nav.menu-wto
                        ul.menu_list-two 
                            li Курс Валют
                            li.zaim Займы
                                 .dropZaim
                                    ul.dropDownmenu.zaim
                                        li Онлайн займы
                                        li Без отказа
                                        li Без паспорта
                                        li С просрочками
                                        li С плохой историей
                                        li На карту
                                        li До зарплаты
                                        li На номер телефона
                                        li Ещё
                            li.credit Кредиты
                                .dropZaim
                                    ul.dropDownmenu.credit
                                        li Кредитные карты
                                        li Рефинансирование
                                        li Ипотека
                                        li Подбор Кредита
                                        li Оплата кредитов
                                        li Ещё
                            li Банки
                            li МФО
                            li Дебетовые карты
                            li Вклады
                            li Страхование
                            li РКО
                .header_inner-tree 
                    .header_title Подбор финансовых услуг в 
                            a.header_title-country России
                    .header_text Рейтинг кредитных компаний и их продуктов, отзывы клиентов, кальуляторы переплат, а так же свежие финансовые новости. 
                    .header_blocks 
                        .header_block 
                            .header_block-text Займы
                            .header_block-icon
                                img(src="icons/clock.svg", alt="")
                        .header_block 
                            .header_block-text Кредиты
                            .header_block-icon
                                img(src="icons/calendar.svg", alt="")
                        .header_block 
                            .header_block-text Кредитные карты
                            .header_block-icon
                                img(src="icons/percent.svg", alt="")
                        .header_block 
                            .header_block-text Рефинансирование
                            .header_block-icon
                                img(src="icons/repeat.svg", alt="")
                        .header_block 
                            .header_block-text Подбор кредита
                            .header_block-icon
                                img(src="icons/sliders.svg", alt="")
                        .header_block 
                            .header_block-text Оплата кредитов
                            .header_block-icon
                                img(src="icons/clipboard.svg", alt="")
                        .header_block 
                            .header_block-text Дебетовые карты
                            .header_block-icon
                                img(src="icons/credit-cart.svg", alt="")
                        .header_block 
                            .header_block-text Кредитный рейтинг
                            .header_block-icon
                                img(src="icons/activity.svg", alt="")
                        .header_block 
                            .header_block-text Ипотека
                            .header_block-icon
                                img(src="icons/home.svg", alt="") 
                        .header_block 
                            .header_block-text Вклады
                            .header_block-icon
                                img(src="icons/package.svg", alt="")
                        .header_block 
                            .header_block-text Страхование
                            .header_block-icon
                                img(src="icons/save.svg", alt="")
                        .header_block 
                            .header_block-text РКО
                            .header_block-icon
                                img(src="icons/file-text.svg", alt="")
        footer.footer
        script(src="js/main.js")
                            
