@import 'vars';
@import 'global';
@import 'fonts';


//start header
.header{
    background: linear-gradient(32.66deg, rgba(0, 158, 226, 0.5) 9.16%, rgba(12, 179, 181, 0.5) 31.25%, rgba(32, 214, 107, 0.5) 37.41%, rgba(255, 255, 255, 0) 54.11%);
    
}
.header_inner-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8A8A8A;
}
.header_exchange{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: 52px;
    font-size: 15px;
    line-height: 35px;
    @include f700;
}
.dollar_price{
    padding-right: 22px;
    position: relative;
    &::before{
        position: absolute;
        content: '$';
        color: #23A1ED;
        top: 0;
        left: -10px;
    }
}
.euro_price{
    position: relative;
    &::before{
        position: absolute;
        content: '€';
        color: #23A1ED;
        top: 0;
        left: -10px;
    }
}
.header_menu-top{
    margin-left: 55px;
    margin-right: auto;
}
.menu_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    li{
        margin-right: 25px;
        text-align: center;
        font-size: 14px;
        line-height: 19px;
        &:hover{
            color: $blue;
        }
    }
}
.header_location{
    position: relative;
}
.location{
    border-bottom: 1px dotted #535353;
}
.map-pin{
    position: absolute;
    left: -20px;
    top: 3px;
}
.header_inner-two{
    padding-top: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu_list-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
    li{
        margin-right: 25px;
        text-align: start;
        font-size: 14px;
        line-height: 19px;
        font-size: 16px;
        &:hover{
            color: $blue;
        }
    }
}
.dropDownmenu{
    height: 0;
    width: 0;
    overflow: hidden;
}
.dropZaim{
    height: 0;
    width: 0;
    overflow: hidden;
}
li.zaim:hover{
    .dropZaim{
        width: 1980px;
        background-color: #fff;
        height: 65px;
        position: absolute;
        left: -95px;
        top: 39px;
    }
    ul.zaim{
        height: 65px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding-left: 93px;
        li{
            margin-right: 41px;
            font-size: 16px;
            color: $color-text;
        }
    }    
}
li.credit:hover{
    .dropZaim{
        width: 1980px;
        background-color: #fff;
        height: 65px;
        position: absolute;
        left: -95px;
        top: 39px;
    }
    ul.credit{
        height: 65px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding-left: 93px;
        li{
            margin-right: 41px;
            font-size: 16px;
            color: $color-text;
        }
    }    
}
.header_menu-mob{
   display: none;
   z-index: 3;
   position: relative;
   
}
.header_mobile{
    display: none;
}
.header_mobile-active{
    background-color: #EBEDF3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 300%;
    
}
.header_line{
    border-bottom: 1px solid #8A8A8A;
    z-index: 3;
    margin-top: 58px;
    margin-left: 10px;
    margin-right: 10px;
}
.header_mobilelist{
    padding-left: 15px;
    padding-right: 15px;
   
    .menu_list-two{
        > li{
            border-bottom: 1px solid #8A8A8A;
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            color:#000000
        }
        .mobZaim,
        .mobCredit{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            svg{
                margin-left: auto;
                margin-right: 0;
                transform: rotate(180deg);
            }
        }
    }
}
.mobDropZaim{
    display: none;
   
}
.mobDropCredit{
    display: none;
   
}
.mobDropZaim-active{
    display: flex;
    flex-direction: column;
    margin-right: 550px;
    span{
        margin-bottom: 15px;
    }
    li{
        border-bottom: none;
        margin-top: 22px;
        color: #000000;
        padding-left: 30px;
    }
    .svgzaim{
        transform: rotate(0deg);
    }
}
.mobDropCredit-active{
    display: flex;
    flex-direction: column;
    margin-right: 550px;
    span{
        margin-bottom: 15px;
    }
    li{
        border-bottom: none;
        margin-top: 22px;
        color: #000000;
        padding-left: 30px;
    }
    .svgzaim{
        transform: rotate(0deg);
    }
}

.header_mobilelist-next{
    padding-left: 15px;
    padding-right: 15px;
}
//end header

.header_inner-tree {
    margin-top: 42px;
}
.marginTop{
    margin-top: 82px;
}
.header_title{
    font-size: 35px;
    line-height: 49px;
    @include f700;
    color: #000000;
    a{
        border-bottom: 2px dashed $blue;
        color: $blue;
    }
}
.header_text{
    font-size: 16px;
    line-height: 24px;
    margin-top: 25px;
    max-width: 595px;
    width: 100%;
}
.header_blocks{
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 1280px;
}
.header_block{
    background-color: #EEF0F5;
    width: 193px;
    height: 124px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 42px;
}
.header_block-text{
    position: absolute;
    top: 88px;
    left: 16px;
}
.header_block-icon{
    position: absolute;
    left: 16px;
    top: 16px;
}
//section USD EUR
.currency_top{
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    align-items: center;
}
.currency_title{
    font-size: 30px;
    line-height: 35px;
    @include f700;
}
.other_currency{
    font-size: 16px;
    color: $blue;
    margin-left: auto;
    position: relative;
    &::after{
        position: absolute;
        content: url(../icons/chevron-right.svg);
    }
}

.currency_data{
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    padding-bottom: 27px;
    position: relative;
    // &::before{
    //     content: url(../icons/Line.svg);
    //     position: absolute;
    //     top: 34px;
    // }
    // &::after{
    //     content: url(../icons/Line.svg);
    //     position: absolute;
    //     top: 100px;
    // }
}
.currency_line{
    position: absolute;
    border-bottom: 1px solid #E5E5E5;;
    width: 100%;
    top: 52px;
}
.currency_lineSecond{
    position: absolute;
    border-bottom: 1px solid #E5E5E5;;
    width: 100%;
    top: 116px;
}
.currency_type,
.currency_buy,
.currency_sell,
.currency_CB,
.currency_conventer{
    display: flex;
    flex-direction: column;
}
.usd_sell{
    padding-left: 13px;
    padding-top: 27px;
}
.usd_buy{
    padding-top: 27px;
    padding-left: 8px;
}
.usd_CB{
    padding-left: 5px;
    padding-top: 27px;
}
.usd_type{
    padding-top: 27px;
}
.eur_type{
    padding-top: 32px;
}
.eur_buy{
    padding-left: 8px;
    padding-top: 32px;
}
.eur_sell{
    padding-top: 32px;
    padding-left: 13px;
}
.eur_CB{
    padding-left: 5px;
    padding-top: 32px;
}

.currency_conventer{
    padding-right: 8px;
}
.currency_data-title{
    padding-bottom: 27px;
}
#up{
    &::after{
        content:url(../icons/currency-arrowUp.svg);
    }
}
#down{
    &::after{
        content:url(../icons/currency-arrowDown.svg);
    }
}

//CONVENTER
.currency_conventer {
    position: relative;
}
.select_arrowUp{
    position: absolute;
    left: 150px;
    top: 65px;
}
.select_arrowDown{
    position: absolute;
    left: 150px;
    top: 80px;
    svg{
        path{
            stroke: #000;
        }
    }
}
.select_arrowUp-eur{
    position: absolute;
    left: 150px;
    top: 123px;
}
.select_arrowDown-eur{
    position: absolute;
    left: 150px;
    top: 138px;
    svg{
        path{
            stroke: #000;
        }
    }
}
.select_arrowChek{
        svg{
            path{
                stroke: #23A1ED;
            }
        }
}
.conventor_select{
    padding-top: 17px;
    select{
        border-radius: 10px;
        height: 40px;
        width: 176px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background-color: rgba(238, 240, 245, 0.5);
        outline: 0;    
     }
}
.eur_select{
    padding-top: 16px;
}
//mobile converter
.mobile_converter{
    display: none;
}
.mobile_converter-active{
    display: flex;
    flex-direction: column;
}
.mobile_btn-active{
    display: none;
}
.mobile_converer-top {
    display: flex;
    justify-content: space-between;
}
.converter_title{
    margin-top: 15px;
    font-size: 20px;
    @include f700
}
.closeConvert{
    background-color: #fff;
    border: none;
}
.conventor_btn{
    display: none;
}
.closeConvert{
    .menu-mob{
        opacity: 0;
    }
 &::before{
    width: 15px;
    transform: translateY(6px) rotate(135deg);
    content: "";
    height: 1px;
    background-color: #000000;
    display: block;
    margin-bottom: 4px;
    transition: transform 0.3s;
 }
 &::after{
    width: 15px;
    transform: translateY(-6px) rotate(-135deg);
    content: "";
    height: 1px;
    background-color: #000000;
    display: block;
    margin-bottom: 4px;
    transition: transform 0.3s;
 }
}
.mobile_converter_elements{
    display: flex;
    flex-wrap: wrap;
}
.mobile_converter_element{
    margin-right: auto;
    margin-bottom: 25px;
}
.converter_element-title{
    font-size: 13px;
    color: rgba(83, 83, 83, 1);
}
.select_arrowUp_mobile{
    position: absolute;
    left: 150px;
    top: 4px;
}
.select_arrowDown_mobile{
    position: absolute;
    left: 150px;
    top: 19px;
    svg{
        path{
            stroke: #000;
        }
    }
}
.select_arrowUp-eur{
    position: absolute;
    left: 150px;
    top: 123px;
}
.select_arrowDown-eur{
    position: absolute;
    left: 150px;
    top: 138px;
    svg{
        path{
            stroke: #000;
        }
    }
}
.select_arrowChek{
        svg{
            path{
                stroke: #23A1ED;
            }
        }
}
.conventor_select_mobile{
    padding-top: 5px;
    position: relative;
    select{
        border-radius: 10px;
        height: 40px;
        width: 176px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background-color: rgba(238, 240, 245, 0.5);
        outline: 0;    
     }
     .optionblock{
         position: relative;
     }
     option {
         background-color: #fff;
         position: absolute;
         top: 20px;
     }
}
.jq-selectbox__trigger-arrow{
    border: none;
    top: 0;
    right: 20px;
    line-height: 40px;
    font-size: 15px;
    position: relative;
    &::before{
        position: absolute;
        content: url(../icons/Up.svg);
        left: 23px;
        top: 5px;
    }
}
.mobile_converter_element,
.conventor_select{
  
    display: flex;
    flex-direction: column;
    width: 150px;
    label{
        min-width: 175px;
        padding-right: 15px;
        padding-top: 5px;
        color: #444;
        span{
            color: $green;
        }
        &::placeholder{
            color: #707070;
        }
    }
    select{
        display: none;
    }
    input[type="file"]{
        display: none;
    }
    input,
    textarea{
        width: 100%;
        display: block;
        border: 1px solid #d7d7d7;
        height: 40px;
        background-color: #f9f9f9;
        padding: 0 18px;
    }
    textarea{
        resize: none;
        height: 150px;
        padding: 8px 18px;
    }
    .jq-file__browse{
       
        display: block;
        top: 5px;
        right: auto;
        left: 9px;
        font-size: 12px;
        line-height: 26px;
        padding: 0 12px;
        border-left: 1px solid #d7d7d7;
        border: 1px solid #d7d7d7;
        border-radius:0px;
        background: #fff;
        box-shadow:none;
        text-shadow: none;
        color: #444;
    }
    .jq-file{
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        border: 1px solid #d7d7d7;
        height: 40px;
        background-color: #f9f9f9;
    }
    .jq-file__name{
        margin-left: 120px;
        background: transparent;
        box-shadow: none;
        border: none;
        border-bottom-color: transparent;
        border-radius: 0px;
        padding: 0 18px;
        height: 40px;
        width: 100%;
        color: #707070;
        line-height: 40px;
        font-size: 12px;
    }
    .jq-selectbox{
        width: 100%;
    }
    .jq-selectbox__select{
        height: 40px;
        padding: 0 18px;
        border: 1px solid #d7d7d7;
        border-bottom-color: #d7d7d7;
        border-radius: 10px;
        background: #f9f9f9;
        box-shadow: none;
        text-shadow: none;
        color: #707070;
        font-family: 'Roboto-Regular', sans-serif;
        line-height: 40px;
    }
    
    .jq-selectbox__trigger-arrow{
        border: none;
        top: 0;
        right: 20px;
        line-height: 40px;
        font-size: 15px;
        position: relative;
        &::before{
            position: absolute;
            content: url(../icons/Up.svg);
            left: 23px;
            top: 5px;
        }
    }
    .jq-selectbox__trigger{
        border-left: none;
    }
    .jq-selectbox__dropdown{
        top: -4px;
    }
}
//end mobile converter
//Conventer
//End section USD EUR
//Best Offers
.bestOffer{
    background-color: #E5E5E5;
}
.bestOffer_top{
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    align-items: center;
}
.bestOffer_title{
    font-size: 30px;
    line-height: 35px;
    @include f700;
}
.otherOffers{
    font-size: 16px;
    color: $blue;
    margin-left: auto;
    position: relative;
    &::after{
        position: absolute;
        content: url(../icons/chevron-right.svg);
    }
}
.offers_table{
    display: flex;
    justify-content: start;
    flex-direction: row;
  
}
.table-line{
   background-color: #fff;
   margin-top: -1px;
   height: 1px;
}
.offer_tab-title{
    margin-right: 60px;
    padding-top: 28px;
    padding-bottom: 38px;
    color: #8A8A8A;
}
.table-active{
    color: #000;
    position: relative;
    border-bottom: 3px solid $blue;
}

//slider
.slider,
.slider2,
.slider3{
    visibility: hidden;
}

.tab-active {
    visibility:inherit;
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px auto 0;
    user-select: none;
    touch-action: pan-y;
  }
  .slider img {
    poiner-events: none;
  }
  
  .slider-list {
    width: 400px;
    height: 200px;
    overflow: hidden;
  }
   
  .slider-list.grab {
    cursor: grab;
  }
  
  .slider-list.grabbing{
    cursor: grabbing;
  }
  
  .slider-track,
  .slider-track2 {
    display: flex;
  }
  
  .slide {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
  }
  
  .slider-arrows {
    margin-top: 15px;
    text-align: center;
  }
  
  .next,
  .prev {
    background: none;
    border: none;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .next.disabled,
  .prev.disabled {
    opacity: .25;
    pointer-events: none;
  }
//end slider

//End Best Offers
//start footer
.footer{
    background-color: #EBEDF3;
}
.footer_top{
    display: flex;
    justify-content: start;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
}
.footer_copirated{
    margin-left: 50px;
    font-size: 13px;
    color: #535353;
    margin-right: auto;
}
.footer_logo{
    img{
        width: 180px;
        height: 55px;
    }
}
.social_icon{
    margin-right: 30px;
    svg:hover { 
        width: 26px;
        height: 26px;
       circle{
           stroke: #2A98CE;
       }
       path{
           fill: #2A98CE;
       }
    }
}

.footer_menu{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #C4C4C4;
}
.footer_menuList{
    display: flex;
    justify-content: space-between;
    a{
        font-size: 15px;
        line-height: 35px;
        color: #000;
        &:hover{
            color: #2A98CE;
        }
    }
}
.footer_down{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #C4C4C4;
    display: flex;
}
.footer_links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 260px;
    max-width: 820px;
}
.contact_link{
    font-size: 15px;
    line-height: 35px;
    margin-right: 55px;
    &:hover{
        color: #2A98CE;
    }
}
.footer_contacs{
    margin-left: auto;
   
}
.contact_block{
    display: flex;
    flex-direction: column;
    position: relative;
}
.contact-title{
    font-size: 13px;
    color: #535353;
    margin-bottom: 5px;
}
.contact-icon{
    position: absolute;
    top: 29px;
    left: -32px;
}
.contact-text{
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    a{  
        font-size: 16px;
        line-height: 25px;
        color: #000000;
        &:hover{
            color: #2A98CE;
        }
    }
}
.footer_license{
    padding-top: 30px;
}
.footer_politics{
    font-size: 12px;
    a{
        color: #2A98CE;
    }
}
.footer_dealContact{
    font-size: 12px;
    line-height: 20px;
    color: #535353;
    margin-top: 4px;
}

@import 'media';